In [1]:
# importação do pandas para trabalhar com calcúlos no modelo
import numpy as np

# importação do pandas para realizar a analisse dos dados
import pandas as pd

In [2]:
# Fazer a leitura do dataset
data = pd.read_csv('acquisition_test.csv')

In [3]:
data.head(5)

,ids,score_1,score_2,score_3,score_4,score_5,score_6,risk_rate,last_amount_borrowed,last_borrowed_in_months,...,external_data_provider_first_name,external_data_provider_fraud_score,lat_lon,marketing_channel,profile_phone_number,reported_income,shipping_state,shipping_zip_code,profile_tags,user_agent
0,810e3277-619e-3154-7ba0-ebddfc5f7ea9,smzX0nxh5QlePvtVf6EAeg==,tHpS8e9F8d9zg3iOQM9tsA==,710.0,104.174961,0.661509,123.015325,0.43,NaN,NaN,...,roseclair,712,"(-23.465879688096386, -51.92295514611923)",Instagram,610-2157103,160236.0,BR-MA,43388,"{'tags': ['n4', 'n3', 'n12', 'n19']}",Mozilla/5.0 (Linux; Android 5.0.2; LG-V410/V41...
1,285ce334-3602-42b3-51cb-eebfcba48a09,4DLlLW62jReXaqbPaHp1vQ==,tQUTfUyeuGkhRotd+6WjVg==,120.0,100.434557,0.139784,120.134718,0.15,NaN,NaN,...,helionice,1,NaN,Instagram,157-9192132,46782.0,BR-AM,15536,{'tags': ['n7']},Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...
2,08efdf0f-f8f1-b968-3452-6b634eabf43f,DGCQep2AE5QRkNCshIAlFQ==,Fv28Bz0YRTVAT5kl1bAV6g==,280.0,95.399016,0.592517,101.661396,0.24,11539.08,36.0,...,cleron,917,"(1.1239729311649262, -53.11108971396174)",Website,138-4518726,23762.0,BR-MA,23804,"{'tags': ['b19', 'da', 'n5', 'n0']}",Mozilla/5.0 (Linux; Android 6.0; HTC One X10 B...
3,c81955ef-e3fe-e40e-b8b9-916dfea3b80d,DGCQep2AE5QRkNCshIAlFQ==,RO7MTL+j4PH2gNzbhNTq/A==,240.0,100.979281,0.588796,101.724127,0.20,NaN,NaN,...,licerio,128,"(-4.032314147616197, -41.03351578727996)",Instagram,442-7405767,139125.0,BR-GO,22206,"{'tags': ['n19', 'n8', 'n6', 'pro+aty', 'n0']}",Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...
4,7f93590f-4a91-aec4-5062-cb1ba2c16a84,8k8UDR4Yx0qasAjkGrUZLw==,wkeCdGeu5sEv4/fjwR0aDg==,430.0,101.287897,0.694936,114.951255,0.61,NaN,NaN,...,beatris,776,"(-4.511307141215452, -37.744723570998374)",NaN,105-3221582,68966.0,BR-SC,23874,"{'tags': ['c55', 'pro+aty', 'b19', 'b19', 'b19']}",Mozilla/5.0 (Linux; Android 5.0.2; LG-V410/V41...

In [4]:
print(data.shape)

(19592, 41)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19592 entries, 0 to 19591
Data columns (total 41 columns):
ids                                                 19592 non-null object
score_1                                             19369 non-null object
score_2                                             19369 non-null object
score_3                                             19369 non-null float64
score_4                                             19592 non-null float64
score_5                                             19592 non-null float64
score_6                                             19592 non-null float64
risk_rate                                           19369 non-null float64
last_amount_borrowed                                6599 non-null float64
last_borrowed_in_months                             6599 non-null float64
credit_limit                                        13639 non-null float64
reason                                              19367 non-null object
income                                              19369 non-null float64
facebook_profile                                    17643 non-null object
state                                               19369 non-null object
zip                                                 19369 non-null object
channel                                             19369 non-null object
job_name                                            18133 non-null object
real_state                                          19369 non-null object
ok_since                                            8099 non-null float64
n_bankruptcies                                      19302 non-null float64
n_defaulted_loans                                   19363 non-null float64
n_accounts                                          19369 non-null float64
n_issues                                            14685 non-null float64
application_time_applied                            19592 non-null object
application_time_in_funnel                          19592 non-null int64
email                                               19592 non-null object
external_data_provider_credit_checks_last_2_year    9828 non-null float64
external_data_provider_credit_checks_last_month     19592 non-null int64
external_data_provider_credit_checks_last_year      12973 non-null float64
external_data_provider_email_seen_before            18599 non-null float64
external_data_provider_first_name                   19592 non-null object
external_data_provider_fraud_score                  19592 non-null int64
lat_lon                                             18990 non-null object
marketing_channel                                   18050 non-null object
profile_phone_number                                19592 non-null object
reported_income                                     19592 non-null float64
shipping_state                                      19592 non-null object
shipping_zip_code                                   19592 non-null int64
profile_tags                                        19592 non-null object
user_agent                                          19274 non-null object
dtypes: float64(18), int64(4), object(19)
memory usage: 6.1+ MB

In [6]:
data.describe()

,score_3,score_4,score_5,score_6,risk_rate,last_amount_borrowed,last_borrowed_in_months,credit_limit,income,ok_since,...,n_accounts,n_issues,application_time_in_funnel,external_data_provider_credit_checks_last_2_year,external_data_provider_credit_checks_last_month,external_data_provider_credit_checks_last_year,external_data_provider_email_seen_before,external_data_provider_fraud_score,reported_income,shipping_zip_code
count,19369.000000,19592.000000,19592.000000,19592.000000,19369.000000,6599.000000,6599.000000,13639.000000,1.936900e+04,8099.000000,...,19369.000000,14685.000000,19592.000000,9828.0,19592.000000,12973.000000,18599.000000,19592.000000,1.959200e+04,19592.000000
mean,348.143425,99.977364,0.497343,99.982892,0.295684,13877.997378,41.877254,34973.896987,7.227392e+04,35.412397,...,10.645516,10.991828,246.744794,0.0,1.488056,0.502814,12.169687,502.595090,inf,33944.954063
std,109.226430,3.154230,0.289780,10.074832,0.100659,8079.566962,10.321246,38060.165852,4.982273e+04,21.664237,...,4.564118,4.531068,145.971248,0.0,1.116857,0.500011,127.599490,290.287254,NaN,12651.834730
min,20.000000,88.270607,0.000101,61.585973,0.020000,730.050000,36.000000,0.000000,7.221300e+03,0.000000,...,1.000000,1.000000,0.000000,0.0,0.000000,0.000000,-999.000000,0.000000,4.040000e+02,12002.000000
25%,270.000000,97.836702,0.246437,93.239757,0.220000,7773.180000,36.000000,10000.000000,4.501753e+04,17.000000,...,7.000000,8.000000,119.000000,0.0,0.000000,0.000000,11.000000,249.000000,5.058075e+04,23030.000000
50%,340.000000,99.976199,0.493184,99.978768,0.290000,12026.250000,36.000000,26053.000000,6.152828e+04,32.000000,...,10.000000,10.000000,247.000000,0.0,1.000000,1.000000,27.000000,504.000000,1.015965e+05,33728.000000
75%,420.000000,102.109535,0.749955,106.800689,0.360000,19211.635000,36.000000,47777.500000,8.701868e+04,51.000000,...,13.000000,13.000000,373.000000,0.0,2.000000,1.000000,43.000000,755.000000,1.514278e+05,44911.000000
max,860.000000,112.890040,0.999982,142.430069,0.760000,35048.410000,60.000000,613117.000000,1.900024e+06,126.000000,...,45.000000,45.000000,500.000000,0.0,3.000000,1.000000,59.000000,1000.000000,inf,56000.000000